<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- 나성수 -->
<mapper namespace="com.spam.sfplanner.corporation.AgencyMapper">
	<resultMap type="com.spam.sfplanner.corporation.AgencyDb" id="agencyDb">
		<id column="a_number" property="aNumber"/>
		<result column="a_name" property="aName"/>
		<result column="a_doroaddress" property="aDoroaddress"/>
		<result column="a_jibunaddress" property="aJibunaddress"/>
		<result column="a_phone" property="aPhone"/>
		<result column="a_registdate" property="aRegistdate"/>
		<collection property="agencyMemberDb" ofType="com.spam.sfplanner.user.AgencyMemberDb">
			<id column="a_member_id" property="aMemberId"/>
			<result column="a_member_name" property="aMemberName"/>
		</collection>
	</resultMap>
	
	<!-- 관리기관 수정 처리 update 쿼리문장 -->
	<update id="updateAgency"
			parameterType="com.spam.sfplanner.user.AgencyMemberView">
		UPDATE sp_agency
		SET
			a_name=#{aName}
			,a_member_id=#{aMemberId}
			,a_doroaddress=#{aDoroaddress}
			,a_jibunaddress=#{aJibunaddress}
			,a_phone=#{aPhone}
		WHERE a_number=#{aNumber}
	</update>
	
	<!-- 관리기관 삭제 처리 delete 쿼리문장 -->
	<delete id="deleteAgency"
			parameterType="int">
		DELETE FROM sp_agency WHERE a_number=#{aNumber}
	</delete>
	
	<!-- 해당 관리기관 상세내용 출력처리 select 쿼리문장 -->
	<select id="oneSelectAgency"
			parameterType="String"
			resultMap="agencyDb">
		select
			sp_agency.a_number
			,sp_agency.a_name
			,sp_agency.a_member_id
			,sp_agency.a_doroaddress
			,sp_agency.a_jibunaddress
			,sp_agency.a_phone
			,sp_agency.a_registdate
			,sp_agency_master.a_member_name
		from
			sp_agency join sp_agency_master
		on
			sp_agency.a_member_id = sp_agency_master.a_member_id
		where
			sp_agency.a_name = #{aName}
	</select>
	
	<!-- 관리기관 리스트 중 결색결과리스트 출력처리 select 쿼리문장 -->
	<select id="searchListSelectAgency"
			parameterType="String"
			resultType="String">
		select
			sp_agency.a_name
		from
			sp_agency
		where
			sp_agency.a_name LIKE #{aName}
	</select>
	
	<!-- 등록된 모든 관리기관 리스트 출력처리 select 쿼리문장 -->
	<select id="listSelectAgency"
			resultType="String">
		select
			sp_agency.a_name
		from
			sp_agency
	</select>
	
	<!-- 관리기관 존재여부 확인처리 select 쿼리문장 -->
	<select id="numberCheck"
			parameterType="int"
			resultType="String">
		select
			sp_agency.a_name
		from
			sp_agency
		where
			sp_agency.a_number = #{aNumber}
	</select>
	
	<!-- 관리기관 등록처리 insert 쿼리문장 -->
	<insert id="insertAgency"
			parameterType="com.spam.sfplanner.user.AgencyMemberView">
		<selectKey resultType="int" keyProperty="aNumber" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO sp_agency
		(a_name, a_member_id, a_doroaddress, a_jibunaddress, a_phone, a_registdate)
		VALUES (#{aName}, #{aMemberId}, #{aDoroaddress}, #{aJibunaddress}, #{aPhone}, NOW())
	</insert>
</mapper>