<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.spam.sfplanner.corporation.CompanyMapper">
	<resultMap type="com.spam.sfplanner.corporation.Company" id="companyDb">
		<id column="c_number" property="cNumber"/>
		<result column="c_name" property="cName"/>
		<result column="c_doroaddress" property="cDoroaddress"/>
		<result column="c_jibunaddress" property="cJibunaddress"/>
		<result column="c_phone" property="cPhone"/>
		<result column="c_registdate" property="cRegistdate"/>
		<result column="c_party" property="cParty"/>
		<collection property="companyMemberDb" ofType="com.spam.sfplanner.user.CompanyMember">
			<id column="c_member_id" property="cMemberId"/>
			<result column="c_member_name" property="cMemberName"/>
		</collection>
		<collection property="categoryDealDb" ofType="com.spam.sfplanner.category.CategoryDeal">
			<id column="deal_number" property="dealNumber"/>
			<result column="deal_classification" property="dealClassification"/>	
		</collection>
	</resultMap>
	
	
	<!-- 업체삭제 처리 쿼리문장 -->
	<delete id="deleteCompany"
			parameterType="int">
		delete 
		from sp_deal_company 
		where c_number=#{cNumber}	
	</delete>
	
	<!-- 업체 수정처리 쿼리문장 -->
	<update id="updateCompany"
			parameterType="com.spam.sfplanner.user.CompanyMemberRequest">
	update sp_deal_company
	set
		c_name=#{cName}
		,c_member_id=#{cMemberId}
		,c_doroaddress=#{cDoroaddress}
		,c_jibunaddress=#{cJibunaddress}
		,c_phone=#{cPhone}
		,c_party=#{cParty}
	where c_number=#{cNumber}
	</update>
	
	<!-- 업체 상세내용 출력하는  쿼리문장 -->
	<select id="oneSelectCompany"
			parameterType="String"
			resultMap="companyDb">
	select
		sp_deal_company.c_number
		,sp_deal_cate.deal_number
		,sp_deal_company.c_name
		,sp_deal_company.c_member_id
		,sp_deal_company.c_doroaddress
		,sp_deal_company.c_jibunaddress
		,sp_deal_company.c_phone
		,sp_deal_company.c_registdate
		,sp_deal_company.c_party
		,sp_deal_company_member.c_member_name
	from
		sp_deal_company join sp_deal_cate join sp_deal_company_member
	on
		sp_deal_company.c_member_id = sp_deal_company_member.c_member_id
	where
		sp_deal_company.c_name = #{cName}	
	</select>
	
	<!-- 모든 업체  출력하는 쿼리 문장 -->
	<select id="listSelectCompany"
			resultMap="companyDb">
	select
		sp_deal_company.c_name 
	from
		sp_deal_company
	
	</select>
	
	<!-- 업체 있는지 확인하는 쿼리문장 -->
	<select id="listOneSelectCompany" 
			parameterType="int"
			resultMap="companyDb">
		select
			sp_deal_company.c_name
		from
			sp_deal_company
		where
			sp_deal_company.c_number = #{cNumber}
	
	</select>
	<!-- 업체입력 쿼리문장 -->
	<insert id="insertCompany" 
			parameterType="com.spam.sfplanner.user.CompanyMemberRequest">
		<selectKey resultType="int" 
					keyProperty="cNumber"
					order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into sp_deal_company
			(deal_number
			,c_name
			,c_member_id
			,c_doroaddress
			,c_jibunaddress
			,c_phone
			,c_registdate
			,c_party)
		values
			(#{dealNumber}
			,#{cName}
			,#{cMemberId}
			,#{cDoroaddress}
			,#{cJibunaddress}
			,#{cPhone}
			,NOW()
			,#{cParty})
	</insert>
</mapper>