<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 
 <mapper namespace="com.spam.sfplanner.corporation.FarmMapper">
 	<insert id="insertFarm"
 		parameterType="com.spam.sfplanner.user.FarmMemberView">
 		<selectKey resultType="int"
 					keyProperty="fNumber"
 					order="AFTER">
 			SELECT LAST_INSERT_ID()
 		</selectKey>
 		INSERT INTO sp_farm(
 			f_name
 			, f_member_id
 			, f_phone
 			, f_doroaddress
 			, f_jibunaddress
 			, f_party
 			, f_registdate)
		VALUES (
			#{fName}
			, #{fMemberId}
			, #{fPhone}
			, #{fDoroaddress}
			, #{fJibunaddress}
			, #{fParty}
			, NOW())
 	</insert>
 </mapper>