<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- 나성수 -->
<mapper namespace="com.spam.sfplanner.user.AgencyMemberMapper">
	<resultMap type="com.spam.sfplanner.user.AgencyMemberDb" id="agencyMemberDb">
		<id column="a_member_id" property="aMemberId"/>
		<result column="a_member_pw" property="aMemberPw"/>
		<result column="a_member_name" property="aMemberName"/>
		<result column="a_member_phone" property="aMemberPhone"/>
		<result column="a_member_gender" property="aMemberGender"/>
		<result column="a_member_email" property="aMemberEmail"/>
		<result column="a_member_privacy" property="aMemberPrivacy"/>
		<result column="a_member_doroaddress" property="aMemberDoroaddress"/>
		<result column="a_member_jibunaddress" property="aMemberJibunaddress"/>
		<result column="a_member_detailaddress" property="aMemberDetailaddress"/>
		<result column="a_member_registdate" property="aMemberRegistdate"/>
		<collection property="agencyDb" ofType="com.spam.sfplanner.corporation.AgencyDb">
			<id column="a_number" property="aNumber"/>
			<result column="a_name" property="aName"/>
			<result column="a_doroaddress" property="aDoroaddress"/>
			<result column="a_jibunaddress" property="aJibunaddress"/>
			<result column="a_phone" property="aPhone"/>
			<result column="a_registdate" property="aRegistdate"/>
		</collection>
	</resultMap>

	<!-- 관리기관 회원 정보 수정 처리 update 쿼리문장 -->
	<update id="updateAgencyMember"
			parameterType="com.spam.sfplanner.user.AgencyMemberView">
		UPDATE sp_agency_master
		SET
			a_member_pw=#{aMemberPw}
			,a_member_name=#{aMemberName}
			,a_member_phone=#{aMemberPhone}
			,a_member_email=#{aMemberEmail}
			,a_member_doroaddress=#{aMemberDoroaddress}
			,a_member_jibunaddress=#{aMemberJibunaddress}
			,a_member_detailaddress=#{aMemberDetailaddress}
		WHERE a_member_id=#{aMemberId}
	</update>

	<!-- 관리기관 회원 탈퇴 처리 delete 쿼리문장 -->
	<delete id="deleteAgencyMember"
			parameterType="String">
		DELETE FROM sp_agency_master WHERE a_member_id=#{aMemberId}
	</delete>

	<!-- 관리기관 회원 한명의 상세내용 출력 처리 select 쿼리문장 -->
	<select id="oneSelectAgencyMember"
			parameterType="String"
			resultMap="agencyMemberDb">
	select
		sp_agency_master.a_member_id
		,sp_agency_master.a_member_pw
		,sp_agency_master.a_number
		,sp_agency.a_name
		,sp_agency_master.a_member_name
		,sp_agency_master.a_member_phone
		,sp_agency_master.a_member_gender
		,sp_agency_master.a_member_email
		,sp_agency_master.a_member_doroaddress
		,sp_agency_master.a_member_jibunaddress
		,sp_agency_master.a_member_detailaddress
	from
		sp_agency_master join sp_agency
	on
		sp_agency_master.a_number = sp_agency.a_number
	where
		sp_agency_master.a_member_id = #{aMemberId}
	</select>

	<!-- 관리기관 직원리트스 출력 처리 select 쿼리문장 -->
	<select id="listSelectAgencyMember"
			parameterType="String"
			resultMap="agencyMemberDb">
		select
			sp_agency_master.a_member_name
			,sp_agency_master.a_member_id
			,sp_agency_master.a_member_phone
			,sp_agency_master.a_member_email
		from
			sp_agency_master join sp_agency
		on
			sp_agency_master.a_number = sp_agency.a_number
		where
			sp_agency.a_name = #{aName}
	</select>

	<!-- 관리기관 회원가입시 아이디 중복체크 처리 select 쿼리문장  -->
	<select id="idCheck"
			parameterType="String"
			resultType="String">
		select
			sp_agency_master.a_member_id
		from
			sp_agency_master
		where
			sp_agency_master.a_member_id = #{aMemberId}
	</select>
	
	<!-- 해당 관리기관의 회원등록 처리 insert 쿼리문장 -->
	<insert id="InsertAgencyMember"
			parameterType="com.spam.sfplanner.user.AgencyMemberView">
		INSERT INTO sp_agency_master
		(a_member_id, a_number, a_member_pw, a_member_name, a_member_phone, a_member_gender, a_member_email, a_member_privacy, a_member_doroaddress, a_member_jibunaddress, a_member_detailaddress, a_member_registdate)
		VALUES (#{aMemberId}, #{aNumber}, #{aMemberPw}, #{aMemberName}, #{aMemberPhone}, #{aMemberGender}, #{aMemberEmail}, #{aMemberPrivacy}, #{aMemberDoroaddress}, #{aMemberJibunaddress}, #{aMemberDetailaddress}, NOW())
	</insert>
</mapper>