<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.spam.sfplanner.category.CategoryThemeMapper">
 	<resultMap type="com.spam.sfplanner.category.CategoryTheme" id="categoryThemeDb">
 		<id column="theme_number" property="themeNumber"/>
 		<result column="theme_name" property="themeName"/>
 		<collection property="agencyDb" ofType="com.spam.sfplanner.corporation.Agency">
 			<id column="a_number" property="aNumber"/>
 			<result column="a_name" property="aName"/>
 			<result column="a_doroaddress" property="aDoroaddress"/>
 			<result column="a_jibunaddress" property="aJibunaddress"/>
 			<result column="a_phone" property="aPhone"/>
 			<result column="a_registdate" property="aRegistdate"/>
 		</collection>
 	</resultMap>
 	
 	<delete id="deleteCategoryTheme"
 		parameterType="integer">
 			DELETE FROM sp_theme_cate WHERE theme_number=#{themeNumber}
 	</delete>
 	
 	<update id="updateCategoryTheme"
 		parameterType="com.spam.sfplanner.category.CategoryTheme">
	 		UPDATE sp_theme_cate
			SET theme_name=#{themeName}
			WHERE theme_number=#{themeNumber}
 	</update>
 	
 	<!-- 하나의 테마카테고리 수정화면 출력하는 셀렉트 쿼리문  -->
 	<select id="oneSelectCategoryTheme"
 		parameterType="String"
 		resultMap="categoryThemeDb">
	 		SELECT sp_theme_cate.theme_number
	 			, sp_agency.a_number
	 			, sp_theme_cate.theme_name
	 			, sp_agency.a_name
			FROM sp_theme_cate
			JOIN sp_agency
			ON sp_theme_cate.a_number = sp_agency.a_number
			WHERE sp_theme_cate.theme_name=#{themeName}
	 </select>
	 
	<!-- 검색키워드에 해당하는 테마카테고리 전체리스트를 출력하는 셀렉트쿼리문  -->
 	<select id="searchListSelectCategoryTheme"
 		resultMap="categoryThemeDb"
 		parameterType="java.util.Map">
	 		SELECT sp_theme_cate.theme_number
	 			, sp_theme_cate.theme_name
	 			, sp_agency.a_number
	 			, sp_agency.a_name
			FROM sp_theme_cate
			JOIN sp_agency
			ON sp_theme_cate.a_number = sp_agency.a_number
			<if test="themeCateSearchOption != null">
				<if test="themeCateSearchOption == 'themeName'">
					WHERE sp_theme_cate.theme_name LIKE CONCAT('%',#{searchKeyword},'%')
				</if>
				<if test="themeCateSearchOption == 'aName'">
					WHERE sp_agency.a_name LIKE CONCAT('%',#{searchKeyword},'%')
				</if>
			</if>
 	</select>
	 
 	<!-- 테마카테고리 전체리스트를 출력하는 셀렉트쿼리문  -->
 	<select id="listSelectCategoryTheme"
 		resultMap="categoryThemeDb">
	 		SELECT sp_theme_cate.theme_number
	 			, sp_theme_cate.theme_name
	 			, sp_agency.a_number
	 			, sp_agency.a_name
			FROM sp_theme_cate
			JOIN sp_agency
			ON sp_theme_cate.a_number = sp_agency.a_number
 	</select>
 	
 	<!-- 테마 카테고리를 등록하는 인서트쿼리문 -->
 	<insert id="insertTheme"
 		parameterType="com.spam.sfplanner.category.CategoryTheme">
 		INSERT INTO sp_theme_cate(
 			a_number
 			, theme_name)
		VALUES (
			#{aNumber}
			, #{themeName})
 	</insert>
 </mapper>