<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.spam.sfplanner.plan.PpWorkMapper">
 	<resultMap type="com.spam.sfplanner.plan.PpWork" id="ppWork">
 		<id column="pp_work_number" property="ppWorkNumber"/>
 		<result column="pp_work_name" property="ppWorkName"/>
 		<result column="pp_work_startday" property="ppWorkStartday"/>
 		<result column="pp_work_endday" property="ppWorkEndday"/>
 		<result column="pp_work_content" property="ppWorkContent"/>
 		<result column="pp_work_area" property="ppWorkArea"/>
 		<collection property="farm" ofType="com.spam.sfplanner.corporation.Farm">
 			<id column="f_number" property="fNumber"/>
 			<result column="f_name" property="fName"/>
 			<result column="f_member_id" property="fMemberId"/>
 			<result column="f_phone" property="fPhone"/>
 			<result column="f_doroaddress" property="fDoroaddress"/>
 			<result column="f_jibunaddress" property="fJibunaddress"/>
 			<result column="f_party" property="fParty"/>
 			<result column="f_registdate" property="fRegistdate"/>
 		</collection>
 		<collection property="productionPlan" ofType="com.spam.sfplanner.plan.ProductionPlan">
 			<id column="pp_number" property="ppNumber"/>
 			<result column="pp_startday" property="ppStartday"/>
 			<result column="pp_endday" property="ppEndday"/>
 			<result column="pp_ownarea" property="ppOwnarea"/>
 			<result column="pp_rentarea" property="ppRentarea"/>
 			<result column="pp_recordday" property="ppRecordday"/>
 			<result column="pp_secret" property="ppSecret"/>
 		</collection>
 	</resultMap>
 	
 	<select id="oneSelectPpWork"
 		parameterType="integer"
 		resultMap="ppWork">
	 		SELECT sp_pp_work.pp_work_number
				, sp_pp_work.pp_work_name
				, sp_pp_work.pp_work_startday
				, sp_pp_work.pp_work_endday
				, sp_pp_work.pp_work_area
				, sp_pp_work.pp_work_content
				, sp_pp.pp_number
				, sp_farm.f_number
				, sp_farm.f_name
			FROM 
				sp_pp_work JOIN sp_pp JOIN sp_farm
			ON 
				sp_pp_work.pp_number = sp_pp.pp_number
			AND 
				sp_pp_work.f_number = sp_farm.f_number
			WHERE 
				sp_pp_work.pp_work_number=#{ppWorkNumber}
 	</select>
 	
 	<delete id="deletePpWork"
 		parameterType="integer">
 			DELETE FROM sp_pp_work WHERE pp_work_number=#{ppWorkNumber}
 	</delete>
 	
 	<insert id="insertPpWork"
 		parameterType="com.spam.sfplanner.plan.PpWork">
 		<selectKey resultType="int" keyProperty="ppWorkNumber" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
 			INSERT INTO sp_pp_work(
				pp_number
				, f_number
				, pp_work_name
				, pp_work_startday
				, pp_work_endday
				, pp_work_area
				, pp_work_content)
			VALUES (
				#{productionPlan.ppNumber}
				, #{farm.fNumber}
				, #{ppWorkName}
				, #{ppWorkStartday}
				, #{ppWorkEndday}
				, #{ppWorkArea}
				, #{ppWorkContent})
 	</insert>
 	
 	<select id="listSelectPpWork"
 		parameterType="java.util.Map"
 		resultMap="ppWork">
	 		SELECT sp_pp_work.pp_work_number
			   , sp_pp_work.pp_work_name
			   , sp_pp_work.pp_work_startday
			   , sp_pp_work.pp_work_endday
			   , sp_pp_work.pp_work_content
			   , sp_pp_work.pp_work_area
			   , sp_pp.pp_number
			   , sp_pp.pp_ownarea
			   , sp_pp.pp_rentarea
			   , sp_farm.f_number
			   , sp_farm.f_name
			FROM sp_pp_work
			JOIN sp_pp
			ON sp_pp_work.pp_number = sp_pp.pp_number
			JOIN sp_farm
			ON sp_pp_work.f_number = sp_farm.f_number
			WHERE sp_pp.pp_number=#{ppNumber}
			<if test="searchWorkPlanOption != null">
				<if test="searchWorkPlanOption == 'ppWorkName'">
					AND sp_pp_work.pp_work_name LIKE CONCAT('%',#{searchKeyword},'%')
				</if>
				<if test="searchWorkPlanOption == 'ppWorkContent'">
					AND sp_pp_work.pp_work_content LIKE CONCAT('%',#{searchKeyword},'%')
				</if>
			</if>
 	</select>
 </mapper>