<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!-- 나성수 -->
 <mapper namespace="com.spam.sfplanner.plan.ProductionPlanMapper">
 	<resultMap type="com.spam.sfplanner.plan.ProductionPlan" id="productionPlan">
 		<id column="pp_number" property="ppNumber"/>
 		<result column="pp_startday" property="ppStartday"/>
 		<result column="pp_endday" property="ppEndday"/>
 		<result column="pp_ownarea" property="ppOwnarea"/>
 		<result column="pp_rentarea" property="ppRentarea"/>
 		<result column="pp_recordday" property="ppRecordday"/>
 		<result column="pp_secret" property="ppSecret"/>
 		<collection ofType="com.spam.sfplanner.user.FarmMember" property="farmMember">
 			<id column="f_member_id" property="fMemberId"/>
 			<result column="f_member_name" property="fMemberName"/>
 			 <collection property="farm" ofType="com.spam.sfplanner.corporation.Farm">
	            <id column="f_number" property="fNumber"/>
	            <result column="f_name" property="fName"/>
	        </collection>
 		</collection>
 		<collection ofType="com.spam.sfplanner.plan.TitlePlan" property="titlePlan">
 			<id column="pp_name_number" property="ppNameNumber"/>
 			<result column="pp_name_planname" property="ppNamePlanname"/>
 		</collection>
 	</resultMap>
 	
 	<update id="updateProductionPlan"
 			parameterType="com.spam.sfplanner.plan.ProductionPlan">
 		UPDATE sp_pp
		SET
			pp_name_number=#{titlePlan.ppNameNumber}
			,pp_startday=#{ppStartday}
			,pp_endday=#{ppEndday}
			,pp_ownarea=#{ppOwnarea}
			,pp_rentarea=#{ppRentarea}
			,pp_secret=#{ppSecret}
		WHERE 
			pp_number=#{ppNumber}
 	</update>
 	
 	<delete id="deleteProductionPlan"
 			parameterType="int">
 		DELETE FROM sp_pp WHERE pp_number=#{ppNumber}
 	</delete>
 	
 	<insert id="insertProductionPlan"
 			parameterType="com.spam.sfplanner.plan.ProductionPlan">
 		<selectKey resultType="int" keyProperty="ppNumber" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
 		INSERT INTO sp_pp
			(pp_name_number
			,pp_startday
			,pp_endday
			,pp_ownarea
			,pp_rentarea
			,pp_recordday
			,f_member_id
			,pp_secret)
			VALUES (#{titlePlan.ppNameNumber}
			,#{ppStartday}
			,#{ppEndday}
			,#{ppOwnarea}
			,#{ppRentarea}
			,NOW()
			,#{farmMember.fMemberId}
			,#{ppSecret})
 	</insert>
 	
 	<select id="oneSelectProductionPlan"
 			parameterType="int"
 			resultMap="productionPlan">
 		select
			sp_pp.pp_number
			,sp_pp.pp_name_number
			,sp_pp_name_cate.pp_name_planname
			,sp_pp.pp_startday
			,sp_pp.pp_endday
			,sp_pp.pp_ownarea
			,sp_pp.pp_rentarea
			,sp_pp.pp_recordday
			,sp_pp.f_member_id
			,sp_farm_member.f_member_name
			,sp_farm_member.f_number
			,sp_farm.f_name
			,sp_pp.pp_secret
		from
			sp_pp join sp_pp_name_cate join sp_farm_member join sp_farm
		on
			sp_pp.pp_name_number = sp_pp_name_cate.pp_name_number
		and
			sp_pp.f_member_id = sp_farm_member.f_member_id
		and
			sp_farm_member.f_number = sp_farm.f_number
		where
			sp_pp.pp_number = #{ppNumber}
 	</select>
 	
 	<select id="listSelectProductionPlan"
 			parameterType="java.util.Map"
 			resultMap="productionPlan">
	 	select
			sp_pp.pp_number
			,sp_pp.pp_name_number
			,sp_pp_name_cate.pp_name_planname
			,sp_pp.pp_startday
			,sp_pp.pp_endday
			,sp_pp.pp_ownarea
			,sp_pp.pp_rentarea
			,sp_pp.pp_recordday
			,sp_pp.f_member_id
			,sp_farm_member.f_member_name
			,sp_farm_member.f_number
			,sp_farm.f_name
			,sp_pp.pp_secret
		from
			sp_pp join sp_pp_name_cate join sp_farm_member join sp_farm
		on
			sp_pp.pp_name_number = sp_pp_name_cate.pp_name_number
		and
			sp_pp.f_member_id = sp_farm_member.f_member_id
		and
			sp_farm_member.f_number = sp_farm.f_number
		<if test="search == 'yes'">
			WHERE
			<if test="column == '농가넘버'">
				sp_pp_name_cate.f_number = #{fNumber}
			</if>
			<if test="column == '계획명'">
				sp_pp_name_cate.pp_name_planname like concat('%',#{property},'%')
			</if>
			<if test="column == '작성자'">
				sp_farm_member.f_member_name like concat('%',#{property},'%')
			</if>
			<if test="column == '농가명'">
				sp_farm.f_name like concat('%',#{property},'%')
			</if>
			<if test="column == '농가넘버and계획명'">
					sp_pp_name_cate.f_number = #{fNumber}
				and
					sp_pp_name_cate.pp_name_planname like concat('%',#{property},'%')
			</if>
			<if test="column == '농가넘버and작성자'">
					sp_pp_name_cate.f_number = #{fNumber}
				and
					sp_farm_member.f_member_name like concat('%',#{property},'%')
			</if>
			<if test="column == '농가넘버and농가명'">
					sp_pp_name_cate.f_number = #{fNumber}
				and
					sp_farm.f_name like concat('%',#{property},'%')
			</if>
		</if>
		ORDER BY sp_pp.pp_number DESC
		<!-- LIMIT #{} ,#{} -->
 	</select>
 
 </mapper>