<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!-- 나성수 -->
 <mapper namespace="com.spam.sfplanner.plan.ProductionPlanMapper">
 	<!-- <select id="">
 	select
		sp_pp.pp_number
		,sp_pp.pp_name_number
		,sp_pp_name_cate.pp_name_planname
		,sp_pp.pp_startday
		,sp_pp.pp_endday
		,sp_pp.pp_ownarea
		,sp_pp.pp_rentarea
		,sp_pp.pp_recordday
		,sp_pp.f_member_id
		,sp_pp.pp_secret
	from
		sp_pp join sp_pp_name_cate
	on
		sp_pp.pp_name_number = sp_pp_name_cate.pp_name_number
	WHERE
		sp_pp_name_cate.f_number = 9
	ORDER BY sp_pp.pp_number DESC
	LIMIT #{} ,#{}
 	</select> -->
 
 </mapper>