<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- 나성수 -->
 <mapper namespace="com.spam.sfplanner.plan.WoInsurancePayMapper">
 	<resultMap type="com.spam.sfplanner.plan.WoInsurancePay" id="woInsurancePay">
 		<id column="e_insurancepay_number" property="eInsurancepayNumber"/>
 		<result column="e_insurancepay_name" property="eInsurancepayMame"/>
 		<result column="e_insurancepay_content" property="eInsurancepayContent"/>
 		<result column="e_insurancepay_startday" property="eInsurancepayStartday"/>
 		<result column="e_insurancepay_endday" property="eInsurancepayEndday"/>
 		<result column="e_insurancepay_term" property="eInsurancepayTerm"/>
 		<result column="e_insurancepay_totalcost" property="eInsurancepayTotalcost"/>
 		<result column="e_insurancepay_expectcost" property="eInsurancepayExpectcost"/>
 		<result column="e_insurancepay_secret" property="eInsurancepaySecret"/>
 		<collection ofType="com.spam.sfplanner.category.CategoryTheme" property="categoryTheme">
 			<id column="theme_number" property="themeNumber"/>
 			<result column="theme_name" property="themeName"/>
 		</collection>
 		<collection ofType="com.spam.sfplanner.plan.PpWork" property="ppWork">
	 		<id column="pp_work_number" property="ppWorkNumber"/>
	 		<result column="pp_work_name" property="ppWorkName"/>
	 		<collection ofType="com.spam.sfplanner.plan.ProductionPlan" property="productionPlan">
	 			<id column="pp_number" property="ppNumber"/>
	 		</collection>
 		</collection>
 	</resultMap>
 	
 	<update id="updateWoInsurancePay"
 			parameterType="com.spam.sfplanner.plan.WoInsurancePay">
	 	UPDATE sp_e_insurancepay
		SET
			sp_e_insurancepay.theme_number = #{categoryTheme.themeNumber}
			,sp_e_insurancepay.pp_work_number = #{ppWork.ppWorkNumber}
			,sp_e_insurancepay.e_insurancepay_name = #{eInsurancepayMame}
			,sp_e_insurancepay.e_insurancepay_content = #{eInsurancepayContent}
			,sp_e_insurancepay.e_insurancepay_startday = #{eInsurancepayStartday}
			,sp_e_insurancepay.e_insurancepay_endday = #{eInsurancepayEndday}
			,sp_e_insurancepay.e_insurancepay_term = #{eInsurancepayTerm}
			,sp_e_insurancepay.e_insurancepay_totalcost = #{eInsurancepayTotalcost}
			,sp_e_insurancepay.e_insurancepay_expectcost = #{eInsurancepayExpectcost}
			,sp_e_insurancepay.e_insurancepay_secret = #{eInsurancepaySecret}
		WHERE
			sp_e_insurancepay.e_insurancepay_number = #{eInsurancepayNumber}
 	</update>
 	
 	<delete id="deleteWoInsurancePay"
 			parameterType="int">
 		DELETE FROM sp_e_insurancepay WHERE e_insurancepay_number=#{eInsurancepayNumber}
 	</delete>
 	
 	<insert id="insertWoInsurancePay"
 			parameterType="com.spam.sfplanner.plan.WoInsurancePay">
	 	INSERT INTO sp_e_insurancepay
			(theme_number
			,pp_work_number
			,e_insurancepay_name
			,e_insurancepay_content
			,e_insurancepay_startday
			,e_insurancepay_endday
			,e_insurancepay_term
			,e_insurancepay_totalcost
			,e_insurancepay_expectcost
			,e_insurancepay_secret)
		VALUES 
			(#{categoryTheme.themeNumber}
			,#{ppWork.ppWorkNumber}
			,#{eInsurancepayMame}
			,#{eInsurancepayContent}
			,#{eInsurancepayStartday}
			,#{eInsurancepayEndday}
			,#{eInsurancepayTerm}
			,#{eInsurancepayTotalcost}
			,#{eInsurancepayExpectcost}
			,#{eInsurancepaySecret})
 	</insert>
 	
 	<select id="listSelectWoInsurancePay"
 			parameterType="java.util.Map"
 			resultMap="woInsurancePay">
 		select
			sp_e_insurancepay.e_insurancepay_number
			,sp_e_insurancepay.theme_number
			,sp_theme_cate.theme_name
			,sp_pp.pp_number
			,sp_e_insurancepay.pp_work_number
			,sp_pp_work.pp_work_name
			,sp_e_insurancepay.e_insurancepay_name
			,sp_e_insurancepay.e_insurancepay_content
			,sp_e_insurancepay.e_insurancepay_startday
			,sp_e_insurancepay.e_insurancepay_endday
			,sp_e_insurancepay.e_insurancepay_term
			,sp_e_insurancepay.e_insurancepay_totalcost
			,sp_e_insurancepay.e_insurancepay_expectcost
			,sp_e_insurancepay.e_insurancepay_secret
		from
			sp_e_insurancepay join sp_theme_cate join sp_pp_work join sp_pp
		on
			sp_e_insurancepay.theme_number = sp_theme_cate.theme_number
		and
			sp_e_insurancepay.pp_work_number = sp_pp_work.pp_work_number
		and
			sp_pp_work.pp_number = sp_pp.pp_number
		where
			sp_e_insurancepay.pp_work_number = #{ppWorkNumber}
		<if test="search == 'yes'">
			<if test="column == '작업명'">
					sp_pp_work.pp_work_name like concat('%',#{property},'%')
				and
					sp_e_insurancepay.pp_work_number = #{ppWorkNumber}
			</if>
			<if test="column == '테마명'">
					sp_theme_cate.theme_name like concat('%',#{property},'%')
				and
					sp_e_insurancepay.pp_work_number = #{ppWorkNumber}
			</if>
			<if test="column == '예상보험비넘버'">
				sp_e_insurancepay.e_insurancepay_number = #{property}
			</if>
		</if>
 	</select>
 </mapper>