<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.spam.sfplanner.plan.WoMaterialsPayMapper">
 	<resultMap type="com.spam.sfplanner.plan.WoMaterialsPay" id="woMaterialsPay">
 		<id column="e_materialspay_number" property="eMaterialspayNumber"/>	
 		<result column="e_materialspay_unitcost" property="eMaterialspayUnitcost"/>
 		<result column="e_materialspay_use" property="eMaterialspayUse"/>
 		<result column="e_materialspay_secret" property="eMaterialspaySecret"/>
 		<collection property="ppWork" ofType="com.spam.sfplanner.plan.PpWork">
 			<id column="pp_work_number" property="ppWorkNumber"/>
 			<result column="pp_work_name" property="ppWorkName"/>
 			<result column="pp_work_startday" property="ppWorkStartday"/>
 			<result column="pp_work_endday" property="ppWorkEndday"/>
 			<result column="pp_work_area" property="ppWorkArea"/>
 			<result column="pp_work_content" property="ppWorkContent"/>
 			<collection property="productionPlan" ofType="com.spam.sfplanner.plan.ProductionPlan">
 				<id column="pp_number" property="ppNumber"/>
 			</collection>
 		</collection>
 		<collection property="categoryMaterials" ofType="com.spam.sfplanner.category.CategoryMaterials">
 			<id column="materials_number" property="materialsNumber"/>
 			<result column="materials_name" property="materialsName"/>
 			<result column="materials_unit" property="materialsUnit"/>
 		</collection>
 	</resultMap>
 	
 	<!-- [김재희] -->
 	<!-- 예상원자재비넘버를 조건으로 해당 예상원자재비를 수정처리 할 수 있는 쿼리문 -->
 	<update id="updateWoMaterialsPay"
 		parameterType="com.spam.sfplanner.plan.WoMaterialsPay">
	 		UPDATE sp_e_materialspay
			SET 
				e_materialspay_unitcost=#{eMaterialspayUnitcost}
				, e_materialspay_use=#{eMaterialspayUse}
				, e_materialspay_secret=#{eMaterialspaySecret}
			WHERE 
				e_materialspay_number=#{eMaterialspayNumber}
 	</update>
 	<!-- 하나의 예상원자재비를 예상원자재비테이블과,작업단계 테이블, 원자재비 카테고리 테이블을 조인해
 		 예상원자재비넘버를 조건으로 조회할 수 있는 쿼리문 -->
 	<select id="oneSelectWoMaterialsPay"
 		parameterType="integer"
 		resultMap="woMaterialsPay">
	 		SELECT sp_e_materialspay.e_materialspay_number
				, sp_e_materialspay.e_materialspay_unitcost
				, sp_e_materialspay.e_materialspay_use
				, sp_e_materialspay.e_materialspay_secret
				, sp_pp_work.pp_work_number
				, sp_pp_work.pp_work_name
				, sp_materials_cate.materials_number
				, sp_materials_cate.materials_name
			FROM 
				sp_e_materialspay JOIN sp_pp_work JOIN sp_materials_cate
			ON 
				sp_e_materialspay.pp_work_number = sp_pp_work.pp_work_number
			AND 
				sp_e_materialspay.materials_number = sp_materials_cate.materials_number
			WHERE 
				sp_e_materialspay.e_materialspay_number=#{eMaterialspayNumber}
 	</select>
 	
 	<!-- 예상원자재비넘버를 조건으로 해당 예상원자재비를 삭제처리 하는 쿼리문 -->
 	<delete id="deleteWoMaterialsPay"
 		parameterType="integer">
 			DELETE FROM sp_e_materialspay WHERE e_materialspay_number=#{eMaterialspayNumber}
 	</delete>
 	
 	<!-- 예상 원자재비를 등록하는 쿼리문 -->
 	<insert id="insertWoMaterialsPay"
 		parameterType="com.spam.sfplanner.plan.WoMaterialsPay">
	 		INSERT INTO sp_e_materialspay(
				materials_number
				, pp_work_number
				, e_materialspay_unitcost
				, e_materialspay_use
				, e_materialspay_secret)
			VALUES (
				#{categoryMaterials.materialsNumber}
				, #{ppWork.ppWorkNumber}
				, #{eMaterialspayUnitcost}	
				, #{eMaterialspayUse}
				, #{eMaterialspaySecret})
 	</insert>
 	
 	<!-- 예상원자재비와, 작업단계, 원자재카테고리, 생산계획을 조인하고 작업단계넘버를 조건으로 원자재비 리스트를 출력하는 쿼리문-->
 	<select id="listSelectWoMaterialsPay"
 		parameterType="java.util.Map"
 		resultMap="woMaterialsPay">
	 		SELECT sp_e_materialspay.e_materialspay_number
				, sp_e_materialspay.e_materialspay_unitcost
				, sp_e_materialspay.e_materialspay_use
				, sp_e_materialspay.e_materialspay_secret
				, sp_e_materialspay.pp_work_number
				, sp_pp_work.pp_work_name
				, sp_pp_work.pp_work_content
				, sp_e_materialspay.materials_number
				, sp_materials_cate.materials_name
				, sp_materials_cate.materials_unit
				, sp_pp.pp_number
			FROM 
				sp_e_materialspay 
			JOIN 
				sp_pp_work
			ON 
				sp_e_materialspay.pp_work_number = sp_pp_work.pp_work_number
			JOIN 
				sp_materials_cate
			ON 
				sp_e_materialspay.materials_number = sp_materials_cate.materials_number
			JOIN 
				sp_pp
			ON 
				sp_pp_work.pp_number = sp_pp.pp_number
			WHERE 
				sp_pp_work.pp_work_number=#{ppWorkNumber}
			<!-- 원자재비 옵션이 null이 아니라면 /분기문 -->
			<if test="searchMaterialsPayOption != null">
				<!-- 검색 옵션이 materialsName이라면 and절 추가해 조회할 수 있다. -->
				<if test="searchMaterialsPayOption == 'materialsName'">
					AND sp_materials_cate.materials_name LIKE CONCAT('%',#{searchKeyword},'%') 
				</if>
			</if>
 	</select>
 </mapper>