<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
 <mapper namespace="com.spam.sfplanner.login.FindMapper">
 
 	<!-- 농가회원 비밀번호찾기 -->
 	<select id="selectAgencyMemberPw"
 			parameterType="com.spam.sfplanner.login.FindDb"
 			resultType="String">
 		SELECT sp_agency_master.a_member_pw
		FROM sp_agency_master
		JOIN sp_agency
		ON sp_agency.a_number = sp_agency_master.a_number 
		and sp_agency_master.a_member_id=#{MemberId}
		and sp_agency_master.a_member_name=#{MemberName}
		and sp_agency.a_name=#{CorpName}
		and sp_agency_master.a_member_email=#{MemberEmail}
 	</select>
 	
 	<!-- 업체회원 비밀번호찾기 -->
 	<select id="selectCompanyMemberPw"
 			parameterType="com.spam.sfplanner.login.FindDb"
 			resultType="String">
 		SELECT sp_deal_company_member.c_member_pw
		FROM sp_deal_company_member
		JOIN sp_deal_company
		ON sp_deal_company.c_number = sp_deal_company_member.c_number 
		and sp_deal_company_member.c_member_id=#{MemberId}
		and sp_deal_company_member.c_member_name=#{MemberName}
		and sp_deal_company.c_name=#{CorpName}
		and sp_deal_company_member.c_member_email=#{MemberEmail}
 	</select> 	
 	
 	<!-- 농가회원 비밀번호찾기 -->
 	<select id="selectFarmMemberPw"
 			parameterType="com.spam.sfplanner.login.FindDb"
 			resultType="String">
 		SELECT sp_farm_member.f_member_pw
		FROM sp_farm_member
		JOIN sp_farm
		ON sp_farm.f_number = sp_farm_member.f_number 
		and sp_farm_member.f_member_id=#{MemberId}
		and sp_farm_member.f_member_name=#{MemberName}
		and sp_farm.f_name=#{CorpName}
		and sp_farm_member.f_member_email=#{MemberEmail}
 	</select>
 	
 	<!-- 관리자 아이디찾기 -->
 	<select id="selectAgencyMemberId"
 			parameterType="com.spam.sfplanner.login.FindDb"
 			resultType="String">
 		SELECT a_member_id
		FROM sp_agency_master
		WHERE a_member_name =#{MemberName} and a_member_email=#{MemberEmail} 	
 	</select>
 	
 	<!-- 업체회원 아이디찾기 -->
 	<select id="selectCompanyMemberId"
 			parameterType="com.spam.sfplanner.login.FindDb"
 			resultType="String">
 		SELECT c_member_id
		FROM sp_deal_company_member
		WHERE c_member_name =#{MemberName} and c_member_email=#{MemberEmail} 	
 	</select>
 	
 	<!-- 농가회원 아이디찾기 -->
 	<select id="selectFarmMemberId"
 			parameterType="com.spam.sfplanner.login.FindDb"
 			resultType="String">
 		SELECT f_member_id
		FROM sp_farm_member
		WHERE f_member_name =#{MemberName} and f_member_email=#{MemberEmail} 	
 	</select>
 
 </mapper>