<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spam.sfplanner.actresult.PpWoResultMapper">

<!-- 작업단계 결과 선택 쿼리문 -->
<select id="listSelectWorkResult"
		resultType="com.spam.sfplanner.actresult.PpWoResultDb">
	SELECT wr_number AS wrNumber
			,pp_resultlist_number AS ppResultlistNumber
			,pp_work_number AS ppWorkNumber
			,wr_totalarea AS wrTotalarea
			,wr_reworkarea AS wrReworkarea
	FROM sp_wr	
</select>

<!-- 작업단계 결과 입력 쿼리문 -->
<insert id="insertWorkResult"
		parameterType="com.spam.sfplanner.actresult.PpWoResultDb">
	INSERT INTO sp_wr(
		pp_resultlist_number
		, pp_work_number
		, wr_totalarea
		, wr_reworkarea)
	VALUES (#{ppResultlistNumber}, #{ppWorkNumber}, #{wrTotalarea}, #{wrReworkarea})
</insert>

</mapper>