<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.spam.sfplanner.actresult.PpWoResultMapper">

<!-- 리절트맵(조회결과매핑) -->
<resultMap type="com.spam.sfplanner.actresult.PpWoResult" id="resultPpWoResult">
	<id column="wr_number" property="wrNumber"/>
	<result column="wr_totalarea" property="wrTotalarea"/>
	<result column="wr_reworkarea" property="wrReworkarea"/>
	<collection ofType="com.spam.sfplanner.actresult.ActResult" property="actResult">
		<id column="pp_resultlist_number" property="ppResultlistNumber"/>
		<result column="pp_resultlist_date" property="ppResultlistDate"/>
	</collection>
	<collection ofType="com.spam.sfplanner.plan.PpWork" property="ppWork">
		<id column="pp_work_number" property="ppWorkNumber"/>
		<result column="pp_work_name" property="ppWorkName"/>
		<result column="pp_work_startday" property="ppWorkStartday"/>
		<result column="pp_work_endday" property="ppWorkEndday"/>
		<result column="pp_work_area" property="ppWorkArea"/>
		<result column="pp_work_content" property="ppWorkContent"/>
	</collection>
</resultMap>

<!-- 작업단계결과 전체리스트 -->
<select id="listSelectWorkResult"
		parameterType="Map"
		resultMap="resultPpWoResult">
	SELECT sp_wr.wr_number
		,sp_wr.pp_resultlist_number
		,sp_wr.pp_work_number
		,sp_wr.wr_totalarea
		,sp_wr.wr_reworkarea
		,sp_pp_resultlist.pp_resultlist_date
		,sp_pp_work.pp_work_name
		,sp_pp_work.pp_work_startday
		,sp_pp_work.pp_work_endday
		,sp_pp_work.pp_work_area
		,sp_pp_work.pp_work_content
	FROM sp_wr
	JOIN sp_pp_resultlist
	JOIN sp_pp_work
	ON sp_wr.pp_resultlist_number = sp_pp_resultlist.pp_resultlist_number and
		sp_wr.pp_work_number = sp_pp_work.pp_work_number
	WHERE sp_wr.pp_resultlist_number = #{ppResultlistNumber}
</select>

<!-- 작업단계결과 입력  -->
<insert id="insertWorkResult"
		parameterType="com.spam.sfplanner.actresult.PpWoResult">
	INSERT INTO sp_wr(
		pp_resultlist_number
		, pp_work_number
		, wr_totalarea
		, wr_reworkarea)
	VALUES (#{actResult.ppResultlistNumber}, #{ppWork.ppWorkNumber}, #{wrTotalarea}, #{wrReworkarea})
</insert>

</mapper>