<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.spam.sfplanner.actresult.PpWoResultMapper">
<!-- 
	작업단계결과 Mapper : 유국화
	기본키(PK)는 작업단계결과 넘버(wr_number)
	작업단계 결과에서 총작업면적(wr_totalarea), 이미작업한면적(wr_reworkarea)은 종속컬럼
	실행결과리스트 넘버와 예상 작업단계넘버는 외래키 역할(FK)
	실행결과리스트에서 실행결과리스트 넘버(pp_resultlist_number), 실행결과리스트 등록일(pp_resultlist_date)을 매핑
	예상작업단계에서 작업단계넘버(pp_work_number), 작업단계명(pp_work_name), 작업단계시작일(pp_work_startday)
		, 작업단계종료일(pp_work_endday), 작업단계면적(pp_work_area), 작업단계내용(pp_work_content)을 매핑
-->
<!--
	배포하려는 웹 호스팅(cafe24)의 MySQL이 외래키(FK)를 지원하지 않아서(InnoDB) SELECT쿼리문마다 ON에 외래키조건을 모두 추가했다.
 -->

<!-- 작업단계결과 리절트맵(조회결과매핑) -->
<resultMap type="com.spam.sfplanner.actresult.PpWoResult" id="resultPpWoResult">
	<id column="wr_number" property="wrNumber"/>
	<result column="wr_totalarea" property="wrTotalarea"/>
	<result column="wr_reworkarea" property="wrReworkarea"/>
	<collection ofType="com.spam.sfplanner.actresult.ActResult" property="actResult">
		<id column="pp_resultlist_number" property="ppResultlistNumber"/>
		<result column="pp_resultlist_date" property="ppResultlistDate"/>
	</collection>
	<collection ofType="com.spam.sfplanner.plan.PpWork" property="ppWork">
		<id column="pp_work_number" property="ppWorkNumber"/>
		<result column="pp_work_name" property="ppWorkName"/>
		<result column="pp_work_startday" property="ppWorkStartday"/>
		<result column="pp_work_endday" property="ppWorkEndday"/>
		<result column="pp_work_area" property="ppWorkArea"/>
		<result column="pp_work_content" property="ppWorkContent"/>
	</collection>
</resultMap>

<!-- 작업단계결과 실행결과리스트 넘버로 삭제 -->
<delete id="deleteWorkResult"
		parameterType="int">
	DELETE FROM sp_wr WHERE pp_resultlist_number = #{ppResultlistNumber}
</delete>

<!-- 작업단계결과 삭제 -->
<delete id="oneDeleteWorkResult"
		parameterType="com.spam.sfplanner.actresult.PpWoResult">
	DELETE FROM sp_wr WHERE wr_number = #{wrNumber}
</delete>

<!-- 작업단계결과 레코드 하나 선택 후 수정 -->
<update id="updateWorkResult"
		parameterType="com.spam.sfplanner.actresult.PpWoResult">
	UPDATE sp_wr
	SET
		wr_totalarea = #{wrTotalarea},
		wr_reworkarea = #{wrTeworkarea}
	WHERE wr_number = #{wrNumber}
</update>

<!-- 작업단계결과 레코드 하나 선택 -->
<select id="oneSelectWorkResult"
		parameterType="int"
		resultMap="resultPpWoResult">
	SELECT sp_wr.wr_number		
		,sp_wr.wr_totalarea
		,sp_wr.wr_reworkarea
		,sp_pp_resultlist.pp_resultlist_number		
		,sp_pp_resultlist.pp_resultlist_date
		,sp_pp_work.pp_work_number
		,sp_pp_work.pp_work_name
		,sp_pp_work.pp_work_startday
		,sp_pp_work.pp_work_endday
		,sp_pp_work.pp_work_area
		,sp_pp_work.pp_work_content
	FROM sp_wr
	JOIN sp_pp_resultlist
	JOIN sp_pp_work
	ON sp_wr.pp_resultlist_number = sp_pp_resultlist.pp_resultlist_number and
		sp_wr.pp_work_number = sp_pp_work.pp_work_number
	WHERE sp_wr.wr_number = {wrNumber}
</select>

<!-- 작업단계결과 입력  -->
<insert id="insertWorkResult"
		parameterType="com.spam.sfplanner.actresult.PpWoResult">
		<selectKey resultType="int" keyColumn="wr_number" keyProperty="wrNumber" order="AFTER" >
			SELECT @@IDENTITY
		</selectKey>
	INSERT INTO sp_wr(
		pp_resultlist_number
		, pp_work_number
		, wr_totalarea
		, wr_reworkarea)
	VALUES (#{actResult.ppResultlistNumber}, #{ppWork.ppWorkNumber}, #{wrTotalarea}, #{wrReworkarea})
</insert>

<!-- 작업단계결과 전체리스트 -->
<select id="listSelectWorkResult"
		parameterType="Map"
		resultMap="resultPpWoResult">
	SELECT sp_wr.wr_number		
		,sp_wr.wr_totalarea
		,sp_wr.wr_reworkarea
		,sp_pp_resultlist.pp_resultlist_number		
		,sp_pp_resultlist.pp_resultlist_date
		,sp_pp_work.pp_work_number
		,sp_pp_work.pp_work_name
		,sp_pp_work.pp_work_startday
		,sp_pp_work.pp_work_endday
		,sp_pp_work.pp_work_area
		,sp_pp_work.pp_work_content
	FROM sp_wr
	JOIN sp_pp_resultlist
	JOIN sp_pp_work
	ON sp_wr.pp_resultlist_number = sp_pp_resultlist.pp_resultlist_number and
		sp_wr.pp_work_number = sp_pp_work.pp_work_number
	WHERE sp_pp_resultlist.pp_resultlist_number = #{ppResultlistNumber}
	ORDER BY sp_wr.wr_number ASC
</select>
</mapper>