<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spam.sfplanner.actresult.WrEtcSpendPayMapper">

<!-- 리절트맵(조회결과매핑) -->
<resultMap type="com.spam.sfplanner.actresult.WrEtcSpendPay" id="resultWrEtcSpendPay">
	<id column="wr_etcspendpay_number" property="wrEtcspendpayNumber"/>
	<result column="wr_etcspendpay_realcost" property="wrEtcspendpayRealcost"/>
	<result column="wr_etcspendpay_date" property="wrEtcspendpayDate"/>
	<collection ofType="com.spam.sfplanner.actresult.PpWoResult" property="ppWoResult">
		<id column="wr_number" property="wr_number"/>
		<result column="wr_totalarea" property="wr_totalarea"/>
		<result column="wr_reworkarea" property="wr_reworkarea"/>
	</collection>
	<collection ofType="com.spam.sfplanner.plan.WoEtcSpendPay" property="woEtcSpendPay">
		<id column="e_etcspendpay_number" property="eEtcspendpayNumber"/>
		<result column="e_etcspendpay_content" property="eEtcspendpayContent"/>
		<result column="e_etcspendpay_day" property="eEtcspendpayDay"/>
		<result column="e_etcspendpay_cost" property="eEtcspendpayCost"/>
		<result column="e_etcspendpay_secret" property="eEtcspendpaySecret"/>
	</collection>
</resultMap>

<!-- 기타지출비용 결과 레코드 하나 선택 후 수정 -->
<update id="updateWrEtcSpendPay"
		parameterType="com.spam.sfplanner.actresult.WrEtcSpendPay">
	UPDATE sp_wr_etcspendpay
	SET
		wr_etcspendpay_realcost=#{wrEtcspendpayRealcost}
		wr_etcspendpay_date=#{wrEtcspendpayDate}
	WHERE wr_etcspendpay_number=#{wrEtcspendpayNumber}
</update>
 
<!-- 기타지출비용 결과 레코드 하나 선택 -->
<select id="oneSelectWrEtcSpendPay"
		parameterType="int"
		resultType="com.spam.sfplanner.actresult.WrEtcSpendPay">
	SELECT wr_etcspendpay_number AS wrEtcspendpayNumber
		, wr_number AS wrNumber
		, e_etcspendpay_number AS eEtcspendpayNumber
		, wr_etcspendpay_realcost AS wrEtcspendpayRealcost
		, wr_etcspendpay_date AS wrEtcspendpayDate
	FROM sp_wr_etcspendpay
	WHERE wr_etcspendpay_number=#{wrEtcspendpayNumber}
</select>
 
<!-- 기타지출비용 결과 리스트 -->
<select id="listSelectWrEtcSpendPay"
		parameterType="Map"
		resultMap="resultWrEtcSpendPay">
	SELECT sp_wr_etcspendpay.wr_etcspendpay_number
		, sp_wr_etcspendpay.wr_etcspendpay_realcost
		, sp_wr_etcspendpay.wr_etcspendpay_date
		, sp_wr.wr_number, sp_wr.wr_totalarea
		, sp_wr.wr_reworkarea
		, sp_e_etcspendpay.e_etcspendpay_number
		, sp_e_etcspendpay.e_etcspendpay_content
		, sp_e_etcspendpay.e_etcspendpay_day
		, sp_e_etcspendpay.e_etcspendpay_cost
		, sp_e_etcspendpay.e_etcspendpay_secret
	FROM sp_wr_etcspendpay
	JOIN sp_wr
	JOIN sp_e_etcspendpay
	ON sp_wr_etcspendpay.wr_number = sp_wr.wr_number
	AND sp_wr_etcspendpay.e_etcspendpay_number = sp_e_etcspendpay.e_etcspendpay_number
	WHERE sp_wr_etcspendpay.wr_number = #{wrNumber}
</select>
 
<!-- 기타지출비용 결과 입력 -->
<insert id="insertWrEtcSpendPay"
		parameterType="com.spam.sfplanner.actresult.WrEtcSpendPay">
	INSERT INTO sp_wr_etcspendpay(
		wr_number
		, e_etcspendpay_number
		, wr_etcspendpay_realcost
		, wr_etcspendpay_date)
	VALUES (#{ppWoResult.wrNumber}, #{woEtcSpendPay.eEtcspendpayNumber}, #{wrEtcspendpayRealcost}, #{wrEtcspendpayDate}); 
</insert>

</mapper>