<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spam.sfplanner.actresult.WrHumanPayMapper">
	<resultMap type="com.spam.sfplanner.actresult.WrHumanPay" id="wrHumanPay">
		<id column="wr_humanpay_number" property="wrHumanpayNumber"/>
		<result column="wr_humanpay_realcost" property="wrHumanpayRealcost"/>
		<result column="wr_humanpay_date" property="wrHumanpayDate"/>
		<collection property="ppWoResult" ofType="com.spam.sfplanner.actresult.PpWoResult">
			<id column="wr_number" property="wrNumber"/>
			<result column="wr_totalarea" property="wrTotalarea"/>
			<result column="wr_reworkarea" property="wrReworkarea"/>
		</collection>
		<collection property="woHumanPay" ofType="com.spam.sfplanner.plan.WoHumanPay">
			<id column="e_humanpay_number" property="eHumanpayNumber"/>
			<result column="e_humanpay_name" property="eHumanpayName"/>
			<result column="e_humanpay_residentnumber" property="eHumanpayResidentnumber"/>
			<result column="e_humanpay_expectpay" property="eHumanpayExpectpay"/>
			<result column="e_humanpay_expectday" property="eHumanpayExpectday"/>
			<result column="e_humanpay_secret" property="eHumanpaySecret"/>
		</collection>
	</resultMap>
	<!-- 작업단계넘버를 매개변수로 받아 해당하는 인건비를 삭제하는 쿼리문 -->
	<delete id="deleteWrHumanPay"
			parameterType="Integer">
		DELETE FROM
			sp_wr_humanpay
		WHERE wr_number = #{wrNumber}
	</delete>
	<!-- 수정하는 데이터를 WrHumanPayDb type 매개변수로 받아 update하는 쿼리문 -->
	<update id="updateWrHumanPay"
			parameterType="com.spam.sfplanner.actresult.WrHumanPay">
		UPDATE
			sp_wr_humanpay
		SET
			wr_humanpay_realcost = #{wrHumanpayRealcost},
			wr_humanpay_date = #{wrHumanpayDate}
		WHERE wr_humanpay_number = #{wrHumanpayNumber}
	</update>
	<!-- 인건비넘버를 매개변수로 받아 한개의 인건비 목록을 select하는 쿼리문 -->
	<select id="oneSelectWrHumanPay"
			parameterType="Integer"
			resultType="com.spam.sfplanner.actresult.WrHumanPay">
		SELECT
			wr_humanpay_number AS wrHumanpayNumber,
			wr_number AS wrNumber,
			e_humanpay_number AS eHumanpayNumber,
			wr_humanpay_realcost AS wrHumanpayRealcost,
			wr_humanpay_date AS wrHumanpayDate
		FROM sp_wr_humanpay
		WHERE wr_humanpay_number = #{wrHumanpayNumber}
	</select>
	<!-- Map을 매개변수로 받아 wrHumanPay resultMap type으로 리턴하여 작업단계별 인건비를 select하는 쿼리문 -->
	<select id="listSelectWrHumanPay"
			parameterType="Map"
			resultMap="wrHumanPay">
		SELECT
			sp_wr_humanpay.wr_humanpay_number,
			sp_wr.wr_number,
			sp_e_humanpay.e_humanpay_number,
			sp_wr_humanpay.wr_humanpay_realcost,
			sp_wr_humanpay.wr_humanpay_date,
			sp_e_humanpay.e_humanpay_expectpay,
			sp_e_humanpay.e_humanpay_expectday,
			sp_e_humanpay.e_humanpay_name,
			sp_e_humanpay.e_humanpay_residentnumber
		FROM sp_wr_humanpay
		JOIN sp_wr ON sp_wr.wr_number = sp_wr_humanpay.wr_number
		JOIN sp_e_humanpay ON sp_e_humanpay.e_humanpay_number = sp_wr_humanpay.e_humanpay_number
		WHERE sp_wr.wr_number = #{wrNumber}
	</select>
	<!-- 매개변수를 WrHumanPayDb로 받아 인건비 등록하는 쿼리문 -->
	<insert id="insertWrHumanPay"
			parameterType="com.spam.sfplanner.actresult.WrHumanPay">
		INSERT INTO sp_wr_humanpay (
			wr_number,
			e_humanpay_number,
			wr_humanpay_realcost,
			wr_humanpay_date
		)
		VALUES (
			#{ppWoResult.wrNumber},
			#{woHumanPay.eHumanpayNumber},
			#{wrHumanpayRealcost},
			#{wrHumanpayDate}
		)
	</insert>
</mapper>