<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.spam.sfplanner.actresult.WrInsurancePayMapper">

<!-- 보험비 결과 리절트맵(조회결과매핑) -->
<resultMap type="com.spam.sfplanner.actresult.WrInsurancePay" id="resultWrInsurancePay">
	<id column="wr_insurancepay_number" property="wrInsurancepayNumber"/>
	<result column="wr_insurancepay_monthcost" property="wrInsurancepayMonthcost"/>
	<result column="wr_insurancepay_date" property="wrInsurancepayDate"/>
	<collection ofType="com.spam.sfplanner.plan.WoInsurancePay" property="woInsurancePay">
		<id column="e_insurancepay_number" property="eInsurancepayNumber"/>
		<result column="e_insurancepay_name" property="eInsurancepayMame"/>
		<result column="e_insurancepay_content" property="eInsurancepayContent"/>
		<result column="e_insurancepay_startday" property="eInsurancepayStartday"/>
		<result column="e_insurancepay_endday" property="eInsurancepayEndday"/>
		<result column="e_insurancepay_term" property="eInsurancepayTerm"/>
		<result column="e_insurancepay_totalcost" property="eInsurancepayTotalcost"/>
		<result column="e_insurancepay_expectcost" property="eInsurancepayExpectcost"/>
		<result column="e_insurancepay_secret" property="eInsurancepaySecret"/>
	</collection>
	<collection ofType="com.spam.sfplanner.actresult.PpWoResult" property="ppWoResult">
		<id column="wr_number" property="wrNumber"/>
		<result column="wr_totalarea" property="wrTotalarea"/>
		<result column="wr_reworkarea" property="wrReworkarea"/>
	</collection>
</resultMap>

<!-- 보험비 결과 업데이트 -->
<!-- 보험비 결과 수정화면출력 셀렉트 -->
<!-- 보험비 결과 삭제 -->
<!-- 보험비 결과 등록 -->

<!-- 보험비 결과 리스트 -->
<select id="listSelectWrInsurancePay"
		parameterType="Map"
		resultMap="resultWrInsurancePay">
	SELECT sp_wr_insurancepay.wr_insurancepay_number	
		, sp_wr_insurancepay.wr_insurancepay_monthcost
		, sp_wr_insurancepay.wr_insurancepay_date
		, sp_wr.wr_number
		, sp_wr.wr_totalarea
		, sp_wr.wr_reworkarea
		, sp_e_insurancepay.e_insurancepay_number
		, sp_e_insurancepay.e_insurancepay_name
		, sp_e_insurancepay.e_insurancepay_content
		, sp_e_insurancepay.e_insurancepay_startday
		, sp_e_insurancepay.e_insurancepay_endday
		, sp_e_insurancepay.e_insurancepay_term
		, sp_e_insurancepay.e_insurancepay_totalcost
		, sp_e_insurancepay.e_insurancepay_expectcost
		, sp_e_insurancepay.e_insurancepay_secret
	FROM sp_wr_insurancepay
	JOIN sp_wr
	JOIN sp_e_insurancepay
	ON sp_wr_insurancepay.wr_number = sp_wr.wr_number AND sp_wr_insurancepay.e_insurancepay_number = sp_e_insurancepay.e_insurancepay_number
	WHERE sp_wr.wr_number = #{wrNumber}
</select>

</mapper>