<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spam.sfplanner.actresult.WrMaterialsPayMapper">
	<resultMap type="com.spam.sfplanner.actresult.WrMaterialsPay" id="wrMaterialsPay">
		<id column="wr_materialspay" property="wrMaterialspayNumber"/>
		<result column="wr_materialspay_quantity" property="wrMaterialspayQuantity"/>
		<result column="wr_materialspay_unitcost" property="wrMaterialspayUnitcost"/>
		<collection property="ppWoResult" ofType="com.spam.sfplanner.actresult.PpWoResult">
			<id column="wr_number" property="wrNumber"/>
			<result column="wr_totalarea" property="wrTotalarea"/>
			<result column="wr_reworkarea" property="wrReworkarea"/>
		</collection>
		<collection property="woMaterialsPay" ofType="com.spam.sfplanner.plan.WoMaterialsPay">
			<id column="e_materialspay_number" property="eMaterialspayNumber"/>
			<result column="e_materialspay_unitcost" property="eMaterialspayUnitcost"/>
			<result column="e_materialspay_use" property="eMaterialspayUse"/>
			<result column="e_materialspay_secret" property="eMaterialspaySecret"/>
			<collection property="categoryMaterials" ofType="com.spam.sfplanner.category.CategoryMaterials">
	 			<id column="materials_number" property="materialsNumber"/>
	 			<result column="materials_name" property="materialsName"/>
	 			<result column="materials_unit" property="materialsUnit"/>
 			</collection>
		</collection>
	</resultMap>
	<!-- 작업단계넘버를 매개변수로 받아 해당하는 원자재비결과를 삭제하는 쿼리문 -->
	<delete id="deleteWrMaterialsPay"
			parameterType="Integer">
		DELETE FROM
			sp_wr_materialspay
		WHERE wr_materialspay_number = #{wrNumber}
	</delete>
	<!-- WrMaterialsPayDb를 매개변수로 받아 수정하고 싶은 원자재비결과넘버 조건에 맞춘 원자재비결과 내용을 수정하는 쿼리문 -->
	<update id="updateWrMaterialsPay"
			parameterType="com.spam.sfplanner.actresult.WrMaterialsPay">
		UPDATE
			sp_wr_materialspay
		SET
			wr_materialspay_quantity = #{wrMaterialspayQuantity},
			wr_materialspay_unitcost = #{wrMaterialspayUnitcost}
		WHERE wr_materialspay_number = #{wrMaterialspayNumber}
	</update>
	<!-- 원자재비결과넘버를 매개변수로 받아 해당하는 원자재비결과 한개를 출력하여 WrMaterialsPayDb type으로 받는 쿼리문 -->
	<select id="oneSelectWrMaterialsPay"
			parameterType="Integer"
			resultType="com.spam.sfplanner.actresult.WrMaterialsPay">
		SELECT
			wr_materialspay_number AS wrMaterialspayNumber,
			wr_number AS wrNumber,
			e_materialspay_number AS eMaterialspayNumber,
			wr_materialspay_quantity AS wrMaterialspayQuantity,
			wr_materialspay_unitcost AS wrMaterialspayUnitcost
		FROM sp_wr_materialspay
		WHERE wr_number = #{wrMaterialspayNumber}
	</select>
	<!-- Map을 매개변수로 받아 해당하는 원자재비결과 리스트를 wrMaterialsPay resultMap type으로 받는 쿼리문 -->
	<select id="listSelectWrMaterialsPay"
			parameterType="Map"
			resultMap="wrMaterialsPay">
		SELECT
			sp_wr_materialspay.wr_materialspay_number,
			sp_wr.wr_number,
			sp_wr.wr_totalarea,
			sp_wr.wr_reworkarea,
			sp_e_materialspay.e_materialspay_number,
			sp_e_materialspay.e_materialspay_unitcost,
			sp_e_materialspay.e_materialspay_use,
			sp_e_materialspay.e_materialspay_secret,
			sp_wr_materialspay.wr_materialspay_quantity,
			sp_wr_materialspay.wr_materialspay_unitcost,
			sp_materials_cate.materials_name,
			sp_materials_cate.materials_unit
		FROM sp_wr_materialspay
		JOIN sp_wr ON sp_wr.wr_number = sp_wr_materialspay.wr_number
		JOIN sp_e_materialspay ON sp_e_materialspay.e_materialspay_number = sp_wr_materialspay.e_materialspay_number
		JOIN sp_materials_cate ON sp_e_materialspay.materials_number = sp_materials_cate.materials_number
		WHERE sp_wr.wr_number = #{wrNumber}
	</select>
	<!-- 매개변수를 원자재비결과 db로 받아 insert하는 쿼리문 -->
	<insert id="insertWrMaterialsPay"
			parameterType="com.spam.sfplanner.actresult.WrMaterialsPay">
		INSERT INTO sp_wr_materialspay (
			wr_number,
			e_materialspay_number,
			wr_materialspay_quantity,
			wr_materialspay_unitcost
		)
		VALUES (
			#{ppWoResult.wrNumber},
			#{woMaterialsPay.eMaterialspayNumber},
			#{wrMaterialspayQuantity},
			#{wrMaterialspayUnitcost}
		)
	</insert>
</mapper>