<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.spam.sfplanner.actresult.WrNeRentPayMapper">

<!-- 대여비결과 리절트맵(조회결과매핑) -->
<resultMap type="com.spam.sfplanner.actresult.WrNeRentPay" id="resultWrNeedEquipRentPay">
	<id column="ne_rentpay_number" property="neRentpayNumber"/>
	<result column="ne_rentpay_cost" property="neRentpayCost"/>
	<result column="ne_rentpay_date" property="neRentpayDate"/>
	<collection ofType="com.spam.sfplanner.actresult.WrNeedEquip" property="wrNeedEquip">
		<id column="wr_needequip_number" property="wrNeedequipNumber"/>
		<result column="wr_needequip_state" property="wrNeedequipState"/>		
	</collection>
	<collection ofType="com.spam.sfplanner.plan.WoNeRentPay" property="woNeRentPay">
		<id column="ne_e_rentpay_number" property="neERentpayNumber"/>
		<result column="ne_e_rentpay_secret" property="neERentpaySecret"/>
		<collection ofType="com.spam.sfplanner.plan.CompanyRentEquip" property="companyRentEquip">
			<id column="c_rent_number" property="cRentNumber"/>
			<result column="c_rent_cost" property="cRentCost"/>	
			<result column="c_rent_date" property="cRentDate"/>			
			<result column="c_rent_modelname" property="cRentModelname"/>			
		</collection>
	</collection>
	
</resultMap>

<!-- 대여비결과 삭제 -->
<delete id="deleteWrNeRentPay"
		parameterType="com.spam.sfplanner.actresult.WrNeRentPay">
	DELETE FROM sp_ne_rentpay WHERE ne_rentpay_number = #{neEentpayNumber}
</delete>

<!-- 대여비결과 업데이트 -->
<update id="updateWrNeRentPay"
		parameterType="com.spam.sfplanner.actresult.WrNeRentPay">
	UPDATE sp_ne_rentpay
		SET
			ne_rentpay_cost=#{neRentpayCost},
			ne_rentpay_date=#{neRentpayDate}
	WHERE ne_rentpay_number = #{neEentpayNumber}
</update>

<!-- 대여비결과 수정화면출력 셀렉트 -->
<select id="oneselectWrNeRentPay"
		parameterType="int"
		resultMap="resultWrNeedEquipRentPay">
	SELECT sp_ne_rentpay.ne_rentpay_number	
	, sp_ne_rentpay.ne_rentpay_cost
	, sp_ne_rentpay.ne_rentpay_date
	, sp_wr_needequip.wr_needequip_number
	, sp_wr_needequip.wr_needequip_state
	, sp_ne_e_rentpay.ne_e_rentpay_number
	, sp_ne_e_rentpay.ne_e_rentpay_secret
	, sp_deal_company_rent.c_rent_cost
	, sp_deal_company_rent.c_rent_date
	, sp_deal_company_rent.c_rent_modelname
	FROM sp_ne_rentpay
	JOIN sp_ne_e_rentpay
	JOIN sp_wr_needequip
	JOIN sp_deal_company_rent
	ON sp_ne_rentpay.ne_e_rentpay_number=sp_ne_e_rentpay.ne_e_rentpay_number 
	AND sp_ne_rentpay.wr_needequip_number=sp_wr_needequip.wr_needequip_number
	AND sp_deal_company_rent.c_rent_number = sp_ne_e_rentpay.c_rent_number
	WHERE sp_ne_rentpay.ne_rentpay_number = #{neEentpayNumber}
</select>

<!-- 대여비결과 등록 -->
<insert id="insertWrNeRentPay"
		parameterType="com.spam.sfplanner.actresult.WrNeRentPay">
		<selectKey resultType="int" keyColumn="ne_rentpay_number" keyProperty="neRentpayNumber" order="AFTER" >
			SELECT @@IDENTITY
		</selectKey>
	INSERT INTO sp_ne_rentpay(
		ne_e_rentpay_number
		, wr_needequip_number
		, ne_rentpay_cost
		, ne_rentpay_date)
	VALUES (#{neERentpayNumber}, #{wrNeedequipNumber}, #{neRentpayCost}, #{neRentpayDate})
</insert>

<!-- 대여비결과 리스트 -->
<select id="listselectWrNeRentPay"
		parameterType="Map"
		resultMap="resultWrNeedEquipRentPay">
	SELECT sp_ne_rentpay.ne_rentpay_number	
	, sp_ne_rentpay.ne_rentpay_cost
	, sp_ne_rentpay.ne_rentpay_date
	, sp_wr_needequip.wr_needequip_number
	, sp_wr_needequip.wr_needequip_state
	, sp_ne_e_rentpay.ne_e_rentpay_number
	, sp_ne_e_rentpay.ne_e_rentpay_secret
	, sp_deal_company_rent.c_rent_cost
	, sp_deal_company_rent.c_rent_date
	, sp_deal_company_rent.c_rent_modelname
	FROM sp_ne_rentpay
	JOIN sp_ne_e_rentpay
	JOIN sp_wr_needequip
	JOIN sp_deal_company_rent
	ON sp_ne_rentpay.ne_e_rentpay_number=sp_ne_e_rentpay.ne_e_rentpay_number 
	AND sp_ne_rentpay.wr_needequip_number=sp_wr_needequip.wr_needequip_number
	AND sp_deal_company_rent.c_rent_number = sp_ne_e_rentpay.c_rent_number
	WHERE sp_wr_needequip.wr_needequip_number = #{wrNeedequipNumber}
</select>
</mapper>